@font-face {
  font-family: 'CourierPrime';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fe9296eb-fa8c-4e8f-af2c-aca03d5e4960.ttf) format('truetype');
}
@font-face {
  font-family: 'CourierPrime';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(38cced24-f772-44a3-ab97-330d7c04ec04.ttf) format('truetype');
}
